<a href="https://colab.research.google.com/github/Harmokay97/my-python-learning-journey/blob/main/Workshop_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# --------------------------------------- Training -------------------------------------

* You can check the comments to see what each cell does. First, read the comments, and then run the cells to see the outputs.


* There are a few exercises in the notebook. The solution of some of them is given. But please first try to complete the exercise yourself and then look at the solution.


* After running all cells and completing all exercises, complete the tasks at the end of the notebook.

## Importing necessary Libraries

In [1]:
import pandas as pd
import numpy as np

## Importing a dataset for this workshop

## Importing the dataset directly from the source

In [2]:
# Installing a package which is needed to download the dataset from its online source. This package is recommended by the online source at the following
# URL : https://archive.ics.uci.edu/dataset/2/adult. You need to reinstall the kernel after the package has been installed
!pip3 install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2025.10.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [3]:
# Downloading the dataset from the online source. The first two lines are given by the online source mentioned above
from ucimlrepo import fetch_ucirepo
# fetch dataset
adult = fetch_ucirepo(id=2)

# Putting data in a pandas dataframe
X = adult.data.features
y = adult.data.targets
data=pd.concat([X,y],axis=1)

In [4]:
#printing data
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

## Importing the dataset from a folder on your local disk

In [5]:
from google. colab import files
uploaded = files.upload()

Saving adult.zip to adult.zip

In [6]:
#extract the zip file
import zipfile

with zipfile.ZipFile("adult.zip", 'r') as zip_ref:
    zip_ref.extractall("extracted_data")

In [7]:
import os
print(os.listdir("extracted_data"))

['old.adult.names', 'adult.test', 'adult.names', 'Index', 'adult.data']

In [8]:
#load the csv file
import pandas as pd

data = pd.read_csv("extracted_data/adult.data", header=None)

In [9]:
columns = ["age", "workclass", "fnlwgt", "education", "education-num",
           "marital-status", "occupation", "relationship", "race", "sex",
           "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

data = pd.read_csv("extracted_data/adult.data", header=None, names=columns)

## Exploring the dataset

In [10]:
# Showing the first 5 rows of the dataset
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
# Finding the shape of the data
print(data.shape)

(32561, 15)

In [12]:
# Generate a dataset by randomly extracting 30000 rows (samples)
data_new = data.sample(n=30000, random_state = 48)

In [13]:
# Printing the new dataset
data_new

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
22453,24,Private,379418,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
14244,41,Private,76625,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
6229,36,Private,190350,HS-grad,9,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,40,United-States,<=50K
31328,31,Private,59083,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States,<=50K
21040,30,Private,159187,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21115,22,Private,88126,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States,<=50K
14719,42,State-gov,404573,Prof-school,15,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States,<=50K
11711,49,Private,184428,Bachelors,13,Divorced,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,<=50K
3750,29,Private,174163,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
4548,40,?,397346,Assoc-acdm,12,Divorced,?,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [14]:
# The indices of different rows in the dataset are currently messy. This happens in many data science projects. Always reindex
# the dataset if you are unsure the indices are correct.
data_new.reset_index(drop=True, inplace=True)

In [15]:
# Checking if the indices are correct
data_new

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,24,Private,379418,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
1,41,Private,76625,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
2,36,Private,190350,HS-grad,9,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,40,United-States,<=50K
3,31,Private,59083,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States,<=50K
4,30,Private,159187,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22,Private,88126,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States,<=50K
29996,42,State-gov,404573,Prof-school,15,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States,<=50K
29997,49,Private,184428,Bachelors,13,Divorced,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,<=50K
29998,29,Private,174163,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
29999,40,?,397346,Assoc-acdm,12,Divorced,?,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [16]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [17]:
# Getting statistical information of the dataset for different columns (features)
data.describe(include="all")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [18]:
# Showing the dataset information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [19]:
# Getting the count of different values in the column "education-num"
data['education-num'].value_counts()

education-num
9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: count, dtype: int64

In [20]:
# Getting the count of different values in the column "education"
data['education'].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [21]:
# Dropping a column
data = data.drop(['fnlwgt'], axis=1)

In [22]:
data.shape

(32561, 14)

In [23]:
# Getting the number of unique values of a column
data['education'].nunique()

16

In [24]:
# Finding how many rows are related to either gender
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [25]:
# Calculating the average age of different genders in the dataset
data['age'].groupby([data['sex']]).mean()

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

In [26]:
# Getting the average age of different genders in the dataset broken down based on their education
data['age'].groupby([data['sex'],data['education']]).mean()

sex     education
Female  10th            35.447458
        11th            30.546296
        12th            29.756944
        1st-4th         48.521739
        5th-6th         44.369048
        7th-8th         49.693750
        9th             42.131944
        Assoc-acdm      36.361045
        Assoc-voc       37.872000
        Bachelors       35.635578
        Doctorate       45.325581
        HS-grad         38.678171
        Masters         43.074627
        Preschool       41.750000
        Prof-school     40.195652
        Some-college    33.740556
Male    10th            38.346395
        11th            33.407806
        12th            33.117647
        1st-4th         45.245902
        5th-6th         42.385542
        7th-8th         48.034979
        9th             40.643243
        Assoc-acdm      38.046440
        Assoc-voc       38.939909
        Bachelors       40.321734
        Doctorate       48.327217
        HS-grad         39.115736
        Masters         44.490312
        Preschool       43.228571
        Prof-school     45.611570
        Some-college    37.017391
Name: age, dtype: float64

In [27]:
# Getting the maximum age of different races in the dataset
data['age'].groupby([data['race']]).max()

race
Amer-Indian-Eskimo    82
Asian-Pac-Islander    90
Black                 90
Other                 77
White                 90
Name: age, dtype: int64

* Exercise 1: Write a code to find how much contribution each sex and occupation category made to the capital-gain on average. Apply the code to the dataset and print the result

In [28]:
# Extracting the age and education columns and creating a new DataFrame using these columns
a=data['age']
b=data['education']
new_data=pd.concat([a,b],axis=1)

In [29]:
data

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

* Exercise 2: Write a function that receives the dataset and replace Famle with F and Male with M (please try to write it yourself before checking the answer in the next cell)

In [30]:
# exercise 2 solution
def encode_sex(data):
    data.reset_index(drop=True, inplace=True) # reindexing the dataset in case the dataset index is corrupted
    rows=data.shape[0]
    a=data.loc[:,'sex']
    for i in range(rows):
        if a[i]=="Male":
            data.loc[i,"sex"]="M"
        elif a[i]=="Female":
            data.loc[i,"sex"]="F"
    return data

In [31]:
# Copying the data
data_copy=data.copy()

In [32]:
# Applying the encode_sex function to the copied data
data_encoded=encode_sex(data_copy)
data_encoded.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [33]:
data

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# Tasks

## P 2.1: Complete the following steps (4%):
## 1- Import the dataset from the URL we used in this workshop.
## 2- Generate a new dataset by randomly extracting 10000 samples.
## 3- Drop the 'income' column, reindex the new dataset and then clean it.
## 4- Print the new dataset and use it for the rest of the tasks

In [34]:
############# WRITE YOUR CODE IN THIS CELL (IF APPLICABLE)  ################
from google.colab import files
uploaded = files.upload()

Saving adult.zip to adult (1).zip

In [35]:
import zipfile
with zipfile.ZipFile("adult.zip", 'r') as zip_ref:
    zip_ref.extractall("extracted_data")

In [36]:
import pandas as pd
data = pd.read_csv("extracted_data/adult.data", header=None)

In [37]:
columns = ["age", "workclass", "fnlwgt", "education", "education-num",
           "marital-status", "occupation", "relationship", "race", "sex",
           "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
data = pd.read_csv("extracted_data/adult.data", header=None, names=columns)

In [38]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [39]:
print(data.shape)

(32561, 15)

In [40]:
#generate a new dataset
data_new = data.sample(n=10000, random_state = 48)

In [41]:
data_new

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
22453,24,Private,379418,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
14244,41,Private,76625,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
6229,36,Private,190350,HS-grad,9,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,40,United-States,<=50K
31328,31,Private,59083,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States,<=50K
21040,30,Private,159187,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8629,53,Private,204584,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
28444,55,Self-emp-not-inc,100569,HS-grad,9,Separated,Farming-fishing,Unmarried,White,Female,0,0,55,United-States,<=50K
28103,52,Self-emp-not-inc,183146,12th,8,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
5345,30,Private,140011,Assoc-voc,11,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,53,United-States,<=50K
23604,52,Private,169549,Some-college,10,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K

In [42]:
#reindexing
data_new. reset_index(drop=True, inplace=True)

In [43]:
data_new

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,24,Private,379418,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
1,41,Private,76625,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
2,36,Private,190350,HS-grad,9,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,40,United-States,<=50K
3,31,Private,59083,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States,<=50K
4,30,Private,159187,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,53,Private,204584,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
9996,55,Self-emp-not-inc,100569,HS-grad,9,Separated,Farming-fishing,Unmarried,White,Female,0,0,55,United-States,<=50K
9997,52,Self-emp-not-inc,183146,12th,8,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
9998,30,Private,140011,Assoc-voc,11,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,53,United-States,<=50K
9999,52,Private,169549,Some-college,10,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K

In [44]:
#drop the income column
data = data.drop(['income'], axis=1)

In [45]:
print(data)

       age          workclass  fnlwgt    education  education-num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loss  hours-per-week  native-country
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

[32561 rows x 14 columns]

In [46]:
#reindex
data.reset_index(drop=True, inplace=True)

In [47]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

############ WRITE YOUR REPORT IN THIS CELL (IF APPLICABLE) #############

## P 2.2: Complete the following steps (4%):
## 1- Determine which columns are categorical and which columns are numerical.
## 2- Encode the categorical columns using the correct method.
## 3- Normalise the numerical columns.
## 4- Print the dataset

In [48]:
############# WRITE YOUR CODE IN THIS CELL (IF APPLICABLE)  ####################
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
dtypes: int64(6), object(8)
memory usage: 3.5+ MB

In [49]:
#Numerical Columns
num_cols = data.select_dtypes(include=['int64', 'float64']).columns
print(num_cols)

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week'],
      dtype='object')

In [50]:
#Categorical Columns
cat_cols = data.select_dtypes(include=['object']).columns
print(cat_cols)

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country'],
      dtype='object')

In [51]:
#encoding the categorical columns
data_encoded = pd.get_dummies(data, columns=cat_cols, drop_first=True)

In [52]:
print(data_encoded.head())

   age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

   workclass_ Federal-gov  workclass_ Local-gov  workclass_ Never-worked  \
0                   False                 False                    False
1                   False                 False                    False
2                   False                 False                    False
3                   False                 False                    False
4                   False                 False                    False

   workclass_ Private  ...  native-country_ Portugal  \
0               False  ...                     False
1               False  ...                     False
2                True  ...                     False
3                True  ...                     False
4                True  ...                     False

   native-country_ Puerto-Rico  native-country_ Scotland  \
0                        False                     False
1                        False                     False
2                        False                     False
3                        False                     False
4                        False                     False

   native-country_ South  native-country_ Taiwan  native-country_ Thailand  \
0                  False                   False                     False
1                  False                   False                     False
2                  False                   False                     False
3                  False                   False                     False
4                  False                   False                     False

   native-country_ Trinadad&Tobago  native-country_ United-States  \
0                            False                           True
1                            False                           True
2                            False                           True
3                            False                           True
4                            False                          False

   native-country_ Vietnam  native-country_ Yugoslavia
0                    False                       False
1                    False                       False
2                    False                       False
3                    False                       False
4                    False                       False

[5 rows x 100 columns]

In [53]:
print(data_encoded.columns)

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_ Federal-gov', 'workclass_ Local-gov',
       'workclass_ Never-worked', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 11th',
       'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th',
       'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm',
       'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate',
       'education_ HS-grad', 'education_ Masters', 'education_ Preschool',
       'education_ Prof-school', 'education_ Some-college',
       'marital-status_ Married-AF-spouse',
       'marital-status_ Married-civ-spouse',
       'marital-status_ Married-spouse-absent',
       'marital-status_ Never-married', 'marital-status_ Separated',
       'marital-status_ Widowed', 'occupation_ Adm-clerical',
       'occupation_ Armed-Forces', 'occupation_ Craft-repair',
       'occupation_ Exec-managerial', 'occupation_ Farming-fishing',
       'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct',
       'occupation_ Other-service', 'occupation_ Priv-house-serv',
       'occupation_ Prof-specialty', 'occupation_ Protective-serv',
       'occupation_ Sales', 'occupation_ Tech-support',
       'occupation_ Transport-moving', 'relationship_ Not-in-family',
       'relationship_ Other-relative', 'relationship_ Own-child',
       'relationship_ Unmarried', 'relationship_ Wife',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'sex_ Male', 'native-country_ Cambodia', 'native-country_ Canada',
       'native-country_ China', 'native-country_ Columbia',
       'native-country_ Cuba', 'native-country_ Dominican-Republic',
       'native-country_ Ecuador', 'native-country_ El-Salvador',
       'native-country_ England', 'native-country_ France',
       'native-country_ Germany', 'native-country_ Greece',
       'native-country_ Guatemala', 'native-country_ Haiti',
       'native-country_ Holand-Netherlands', 'native-country_ Honduras',
       'native-country_ Hong', 'native-country_ Hungary',
       'native-country_ India', 'native-country_ Iran',
       'native-country_ Ireland', 'native-country_ Italy',
       'native-country_ Jamaica', 'native-country_ Japan',
       'native-country_ Laos', 'native-country_ Mexico',
       'native-country_ Nicaragua',
       'native-country_ Outlying-US(Guam-USVI-etc)', 'native-country_ Peru',
       'native-country_ Philippines', 'native-country_ Poland',
       'native-country_ Portugal', 'native-country_ Puerto-Rico',
       'native-country_ Scotland', 'native-country_ South',
       'native-country_ Taiwan', 'native-country_ Thailand',
       'native-country_ Trinadad&Tobago', 'native-country_ United-States',
       'native-country_ Vietnam', 'native-country_ Yugoslavia'],
      dtype='object')

In [54]:
#Normalize the numerical columns
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_encoded[num_cols] = scaler.fit_transform(data_encoded[num_cols])

In [55]:
print(data_encoded[num_cols]. describe())

                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  32561.000000   32561.000000  32561.000000  32561.000000
mean       0.295639      0.120545       0.605379      0.010777      0.020042
std        0.186855      0.071685       0.171515      0.073854      0.092507
min        0.000000      0.000000       0.000000      0.000000      0.000000
25%        0.150685      0.071679       0.533333      0.000000      0.000000
50%        0.273973      0.112788       0.600000      0.000000      0.000000
75%        0.424658      0.152651       0.733333      0.000000      0.000000
max        1.000000      1.000000       1.000000      1.000000      1.000000

       hours-per-week
count    32561.000000
mean         0.402423
std          0.125994
min          0.000000
25%          0.397959
50%          0.397959
75%          0.448980
max          1.000000

In [56]:
#print the dataset
print(data_encoded)

            age    fnlwgt  education-num  capital-gain  capital-loss  \
0      0.301370  0.044302       0.800000      0.021740           0.0
1      0.452055  0.048238       0.800000      0.000000           0.0
2      0.287671  0.138113       0.533333      0.000000           0.0
3      0.493151  0.151068       0.400000      0.000000           0.0
4      0.150685  0.221488       0.800000      0.000000           0.0
...         ...       ...            ...           ...           ...
32556  0.136986  0.166404       0.733333      0.000000           0.0
32557  0.315068  0.096500       0.533333      0.000000           0.0
32558  0.561644  0.094827       0.533333      0.000000           0.0
32559  0.068493  0.128499       0.533333      0.000000           0.0
32560  0.479452  0.187203       0.533333      0.150242           0.0

       hours-per-week  workclass_ Federal-gov  workclass_ Local-gov  \
0            0.397959                   False                 False
1            0.122449                   False                 False
2            0.397959                   False                 False
3            0.397959                   False                 False
4            0.397959                   False                 False
...               ...                     ...                   ...
32556        0.377551                   False                 False
32557        0.397959                   False                 False
32558        0.397959                   False                 False
32559        0.193878                   False                 False
32560        0.397959                   False                 False

       workclass_ Never-worked  workclass_ Private  ...  \
0                        False               False  ...
1                        False               False  ...
2                        False                True  ...
3                        False                True  ...
4                        False                True  ...
...                        ...                 ...  ...
32556                    False                True  ...
32557                    False                True  ...
32558                    False                True  ...
32559                    False                True  ...
32560                    False               False  ...

       native-country_ Portugal  native-country_ Puerto-Rico  \
0                         False                        False
1                         False                        False
2                         False                        False
3                         False                        False
4                         False                        False
...                         ...                          ...
32556                     False                        False
32557                     False                        False
32558                     False                        False
32559                     False                        False
32560                     False                        False

       native-country_ Scotland  native-country_ South  \
0                         False                  False
1                         False                  False
2                         False                  False
3                         False                  False
4                         False                  False
...                         ...                    ...
32556                     False                  False
32557                     False                  False
32558                     False                  False
32559                     False                  False
32560                     False                  False

       native-country_ Taiwan  native-country_ Thailand  \
0                       False                     False
1                       False                     False
2                       False                     False
3                       False                     False
4                       False                     False
...                       ...                       ...
32556                   False                     False
32557                   False                     False
32558                   False                     False
32559                   False                     False
32560                   False                     False

       native-country_ Trinadad&Tobago  native-country_ United-States  \
0                                False                           True
1                                False                           True
2                                False                           True
3                                False                           True
4                                False                          False
...                                ...                            ...
32556                            False                           True
32557                            False                           True
32558                            False                           True
32559                            False                           True
32560                            False                           True

       native-country_ Vietnam  native-country_ Yugoslavia
0                        False                       False
1                        False                       False
2                        False                       False
3                        False                       False
4                        False                       False
...                        ...                         ...
32556                    False                       False
32557                    False                       False
32558                    False                       False
32559                    False                       False
32560                    False                       False

[32561 rows x 100 columns]

############ WRITE YOUR REPORT IN THIS CELL (IF APPLICABLE) #############

## P 2.3: Write a function to split the dataset in half column-wise and swap the first half and the second half. Apply the funtion to the dataset and print the result (3%)

In [57]:
############# WRITE YOUR CODE IN THIS CELL (IF APPLICABLE)  ####################
def swap_column_halves(df):
    # Total number of columns
    total_cols = df.shape[1]

    # Midpoint index
    mid = total_cols // 2

    # Split into two halves
    first_half = df.iloc[:, :mid]
    second_half = df.iloc[:, mid:]

    # Concatenate in swapped order
    swapped_df = pd.concat([second_half, first_half], axis=1)

    return swapped_df

In [58]:
swapped_data = swap_column_halves(data_encoded)
print(swapped_data.head())

   relationship_ Other-relative  relationship_ Own-child  \
0                         False                    False
1                         False                    False
2                         False                    False
3                         False                    False
4                         False                    False

   relationship_ Unmarried  relationship_ Wife  race_ Asian-Pac-Islander  \
0                    False               False                     False
1                    False               False                     False
2                    False               False                     False
3                    False               False                     False
4                    False                True                     False

   race_ Black  race_ Other  race_ White  sex_ Male  native-country_ Cambodia  \
0        False        False         True       True                     False
1        False        False         True       True                     False
2        False        False         True       True                     False
3         True        False        False       True                     False
4         True        False        False      False                     False

   ...  occupation_ Handlers-cleaners  occupation_ Machine-op-inspct  \
0  ...                          False                          False
1  ...                          False                          False
2  ...                           True                          False
3  ...                           True                          False
4  ...                          False                          False

   occupation_ Other-service  occupation_ Priv-house-serv  \
0                      False                        False
1                      False                        False
2                      False                        False
3                      False                        False
4                      False                        False

   occupation_ Prof-specialty  occupation_ Protective-serv  occupation_ Sales  \
0                       False                        False              False
1                       False                        False              False
2                       False                        False              False
3                       False                        False              False
4                        True                        False              False

   occupation_ Tech-support  occupation_ Transport-moving  \
0                     False                         False
1                     False                         False
2                     False                         False
3                     False                         False
4                     False                         False

   relationship_ Not-in-family
0                         True
1                        False
2                         True
3                        False
4                        False

[5 rows x 100 columns]

In [61]:
#confirming the swap
print("Original Columns:")
print(list(data_encoded.columns))

Original Columns:
['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'marital-status_ Married-AF-spouse', 'marital-status_ Married-civ-spouse', 'marital-status_ Married-spouse-absent', 'marital-status_ Never-married', 'marital-status_ Separated', 'marital-status_ Widowed', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'relationship_ Not-in-family', 'relationship_ Other-relative', 'relationship_ Own-child', 'relationship_ Unmarried', 'relationship_ Wife', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'sex_ Male', 'native-country_ Cambodia', 'native-country_ Canada', 'native-country_ China', 'native-country_ Columbia', 'native-country_ Cuba', 'native-country_ Dominican-Republic', 'native-country_ Ecuador', 'native-country_ El-Salvador', 'native-country_ England', 'native-country_ France', 'native-country_ Germany', 'native-country_ Greece', 'native-country_ Guatemala', 'native-country_ Haiti', 'native-country_ Holand-Netherlands', 'native-country_ Honduras', 'native-country_ Hong', 'native-country_ Hungary', 'native-country_ India', 'native-country_ Iran', 'native-country_ Ireland', 'native-country_ Italy', 'native-country_ Jamaica', 'native-country_ Japan', 'native-country_ Laos', 'native-country_ Mexico', 'native-country_ Nicaragua', 'native-country_ Outlying-US(Guam-USVI-etc)', 'native-country_ Peru', 'native-country_ Philippines', 'native-country_ Poland', 'native-country_ Portugal', 'native-country_ Puerto-Rico', 'native-country_ Scotland', 'native-country_ South', 'native-country_ Taiwan', 'native-country_ Thailand', 'native-country_ Trinadad&Tobago', 'native-country_ United-States', 'native-country_ Vietnam', 'native-country_ Yugoslavia']

In [60]:
#confirming the swap
print("Swapped Columns:")
print(list(swapped_data.columns))

Swapped Columns:
['relationship_ Other-relative', 'relationship_ Own-child', 'relationship_ Unmarried', 'relationship_ Wife', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'sex_ Male', 'native-country_ Cambodia', 'native-country_ Canada', 'native-country_ China', 'native-country_ Columbia', 'native-country_ Cuba', 'native-country_ Dominican-Republic', 'native-country_ Ecuador', 'native-country_ El-Salvador', 'native-country_ England', 'native-country_ France', 'native-country_ Germany', 'native-country_ Greece', 'native-country_ Guatemala', 'native-country_ Haiti', 'native-country_ Holand-Netherlands', 'native-country_ Honduras', 'native-country_ Hong', 'native-country_ Hungary', 'native-country_ India', 'native-country_ Iran', 'native-country_ Ireland', 'native-country_ Italy', 'native-country_ Jamaica', 'native-country_ Japan', 'native-country_ Laos', 'native-country_ Mexico', 'native-country_ Nicaragua', 'native-country_ Outlying-US(Guam-USVI-etc)', 'native-country_ Peru', 'native-country_ Philippines', 'native-country_ Poland', 'native-country_ Portugal', 'native-country_ Puerto-Rico', 'native-country_ Scotland', 'native-country_ South', 'native-country_ Taiwan', 'native-country_ Thailand', 'native-country_ Trinadad&Tobago', 'native-country_ United-States', 'native-country_ Vietnam', 'native-country_ Yugoslavia', 'age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'marital-status_ Married-AF-spouse', 'marital-status_ Married-civ-spouse', 'marital-status_ Married-spouse-absent', 'marital-status_ Never-married', 'marital-status_ Separated', 'marital-status_ Widowed', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'relationship_ Not-in-family']

############ WRITE YOUR REPORT IN THIS CELL (IF APPLICABLE) #############

## P 2.4: Write a function that receives two numerical columns' names and compare their values for all rows. If the value of the first column is greater than the second column, the function should produce True, otherwise, it should produce False. The function should append an additional column to the dataset to store the results of the comparison for all rows. Apply the function to the "age" and "hours-per-week" columns in the dataset and print the result (4%).

In [63]:
############# WRITE YOUR CODE IN THIS CELL (IF APPLICABLE)  ####################
def compare_columns(df, col1, col2, new_col_name='comparison_result'):
    """
    Compare values of two numerical columns row-wise.
    Returns True if col1 > col2, else False.
    Adds a new column to the DataFrame with the result.
    """
    df[new_col_name] = df[col1] > df[col2]
    return df

In [65]:
data = compare_columns(data, 'age', 'hours-per-week', 'age_vs_hours')

In [66]:
print(data.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'age_vs_hours'],
      dtype='object')

In [67]:
print(data[['age', 'hours-per-week', 'age_vs_hours']].head())

   age  hours-per-week  age_vs_hours
0   39              40         False
1   50              13          True
2   38              40         False
3   53              40          True
4   28              40         False

############ WRITE YOUR REPORT IN THIS CELL (IF APPLICABLE) #############